$main-color: var(--main-color, #333);
$primary-color: var(--main-color, #70adff);
$error-color: var(--error-color, #ff6a48);
$border-color: var(--border-color, #000);
$border-color-light: var(--border-color-light, #ccc);
$secondary-border-color: var(--border-color-light, #ccc);
$light-color: var(--light-color, #999);
$bg-color: var(--light-color, #242526);
$bg-color-accent: var(--light-color, #484a4d);
$text-color: var(--text-color, #dadce1);
