$font-family: cairo, sans-serif;
$font-tiny-size: 10px;
$line-height-tiny: 14px;
$font-small-size: 11px;
$line-height-small: 16px;
$font-normal-size: 12px;
$line-height-normal: 18px;
$font-base-size: 14px;
$line-height-base: 20px;
$font-medium-size: 16px;
$line-height-medium: 24px;
$font-big-size: 18px;
$line-height-big: 26px;
$font-large-size: 20px;
$line-height-large: 28px;
$font-major-size: 22px;
$line-height-major: 22px;
$font-very-big-size: 24px;
$line-height-very-big: 30px;
$font-huge-size: 28px;
$line-height-huge: 40px;
$font-max-size: 36px;
$line-height-max: 42px;
$font-weight-base: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* base */
@mixin font-base() {
    font-weight: var(--font-base-font-weight, 400);
    font-size: var(--font-base-font-size, $font-normal-size);
    font-family: var(--font-base-font-family, $font-family);
    font-style: normal;
}

/****   */

/* font-light */
@mixin font-light() {
    @include font-base;

    font-weight: var(--font-light-font-weight, 300);
}

@mixin font-light-small() {
    @include font-light;

    font-size: var(--font-light-small-font-size, $font-small-size);
}

@mixin font-light-medium() {
    @include font-light;

    font-size: var(--font-light-medium-font-size, $font-medium-size);
}

@mixin font-light-big() {
    @include font-light;

    font-size: var(--font-light-big-font-size, $font-big-size);
}

@mixin font-light-large() {
    @include font-light;

    font-size: var(--font-light-large-font-size, $font-large-size);
}

/*********   */

/* font-regular */
@mixin font-regular() {
    @include font-base;
}

@mixin font-regular-small() {
    @include font-regular;

    font-size: var(--font-regular-small-font-size, $font-small-size);
}

@mixin font-regular-medium() {
    @include font-regular;

    font-size: var(--font-regular-medium-font-size, $font-medium-size);
}

@mixin font-regular-big() {
    @include font-regular;

    font-size: var(--font-regular-big-font-size, $font-big-size);
}

@mixin font-regular-large() {
    @include font-regular;

    font-size: var(--font-regular-large-font-size, $font-large-size);
}

/*********   */

/* font-bold */
@mixin font-bold() {
    @include font-base;

    font-weight: var(--font-bold-font-weight, 700);
}

@mixin font-bold-small() {
    @include font-bold;

    font-size: var(--font-bold-small-font-size, $font-small-size);
}

@mixin font-bold-medium() {
    @include font-bold;

    font-size: var(--font-bold-medium-font-size, $font-medium-size);
}

@mixin font-bold-big() {
    @include font-bold;

    font-size: var(--font-bold-big-font-size, $font-big-size);
}

@mixin font-bold-large() {
    @include font-bold;

    font-size: var(--font-bold-large-font-size, $font-large-size);
}

/*********   */

/* custom */
@mixin font-custom($font-weight: $font-weight-base, $font-size: $font-base-size, $line-height: $line-height-base) {
    @include font-base;

    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
