/* Media query */

$page-min-width: 320px;
$page-max-width: 1240px;
$tablet-min-width: 768px;
$tablet-m-min-width: 900px;
$desktop-min-width: 1100px;

// Mobile
$mobile-min-width: $page-min-width;
$mobile: 'screen and (width < #{$tablet-min-width})';
$mobile-portrait: '#{$mobile} and (orientation: portrait)';
$mobile-landscape: '#{$mobile} and (orientation: landscape)';
$mobile-s-portrait: 'only screen and (min-device-width: #{$mobile-min-width}) and (max-device-width: 480px) and (orientation: portrait)';
$not-mobile: 'screen and (width >= #{$tablet-min-width})';

// Tablet
$tablet: 'screen and (#{$tablet-min-width} <= width < #{$desktop-min-width})';
$tablet-portrait: '#{$tablet} and (orientation: portrait)';
$tablet-landscape: '#{$tablet} and (orientation: landscape)';

// Desktop
$desktop-max-width: $page-max-width;
$desktop: 'screen and (width >= #{$desktop-min-width})';
$not-desktop: 'screen and (width < #{$desktop-min-width})';
