@import "colors";

@mixin box-shadow() {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 8%), 0 4px 16px 0 rgba(0, 0, 0, 4%);
    box-shadow: var(--box-shadow, 0 1px 1px 0 rgba(0, 0, 0, 8%), 0 4px 16px 0 rgba(0, 0, 0, 4%));
}

@mixin outline-on-focus() {
    &:focus-visible {
        outline: 1px dotted #212121; // non-webkit based browsers
        outline: 5px auto -webkit-focus-ring-color; // for webkit based browsers
    }
}
