@import "../../assets/styles/common.scss";

.content-projection {
    padding: 20px;
    border: 2px solid $main-color;
    border-radius: 10px;
    @include box-shadow;

    &+& {
        margin-top: 20px;
    }

    &__action-panel {
        display: flex;
    }
}
