@import "../../../../assets/styles/common.scss";

.collections-preview-item {
    $this: collections-preview-item;

    &__image-wrapper {
        display: flex;
        position: relative;
        cursor: pointer;
    }

    &__image {
        width: 150px;
        height: 150px;
        max-width: 100%;
    }

    &__button {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.7);
        transition: all 0.2s;
        @include font-regular-big;
        color: $main-color;
        text-align: center;

        .#{$this}__image-wrapper:hover & {
            opacity: 1;
            visibility: visible;
        }
    }
}
