.wrapper {
    display: flex;
    width: 300px;
    max-width: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-mask-image: linear-gradient(to left, transparent, black var(--right-gradient), black var(--left-gradient), transparent 100%);
    mask-image: linear-gradient(to left, transparent, black var(--right-gradient), black var(--left-gradient), transparent 100%);

    &::-webkit-scrollbar {
        display: none;
    }

    --left-gradient: 100%;
    --right-gradient: 0%;
}

.withLeftGradient {
    --left-gradient: 90%;
}

.withRightGradient {
    --right-gradient: 10%;
}

.wrapperVertical {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-mask-image: linear-gradient(to bottom, transparent, black var(--top-gradient), black var(--bottom-gradient), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent, black var(--top-gradient), black var(--bottom-gradient), transparent 100%);

    &::-webkit-scrollbar {
        display: none;
    }

    --top-gradient: 0%;
    --bottom-gradient: 100%;

    > .li+.li {
        margin-top: -1px;
    }
}

.withTopGradient {
    --top-gradient: 10%;
}

.withBottomGradient {
    --bottom-gradient: 90%;
}

.li {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid;
}
