@import 'src/assets/styles/common.scss';

.dropdown-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 300ms;

    &:hover {
        background-color: #525357;
    }

    &__icon {
        margin-right: 10px;

        & > :first-child {
            width: 20px;
            height: 20px;
            fill: #fff;
        }
    }
}
