.main-menu {
    display: flex;
    margin-bottom: 20px;
    list-style-type: none;

    &__item {
        font-size: 16px;

        & + & {
            margin-left: 20px;
        }
    }

    &__link {
        position: relative;
        text-decoration: none;
        transition: background-color 0.2s;

        &::after {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: dodgerblue;
            transition: all 0.2s;
            content: '';
        }

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            background-color: rgba(238, 242, 255, 0.3);
            transition: all 0.2s;
            content: '';
        }

        &._active::before {
            width: 100%;
        }

        &._active::after {
            width: 100%;
        }
    }
}
