.main-menu {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;

    &__item {
        font-size: 16px;

        & + & {
            margin-left: 20px;
        }
    }

    &__link {
        position: relative;
        text-decoration: none;
        transition: background-color 0.2s;

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            transition: all 0.2s;
            background-color: dodgerblue;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            width: 0;
            transition: all 0.2s;
            background-color: rgba(238, 242, 255, 0.3);
        }

        &._active:before {
            width: 100%;
        }

        &._active:after {
            width: 100%;
        }
    }
}
