@import "../../../../../assets/styles/common.scss";

.collections-preview-item {
    $this: collections-preview-item;

    &__image-wrapper {
        display: flex;
        position: relative;
    }

    &__image {
        width: 300px;
        height: 350px;
        max-width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    &__button {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        width: 260px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.9);
        transition: all 0.2s;
        @include font-regular-big;
        color: $main-color;
        text-align: center;
        cursor: pointer;
        outline: none;

        .#{$this}__image-wrapper:hover & {
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            background-color: $main-color;
            color: white;
        }
    }

    &__price {
        display: flex;
        justify-content: space-between;
        @include font-light-big;
    }
}
