@import 'src/assets/styles/common.scss';

.grid {
    display: grid;
    grid-auto-rows: 1px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr));
}

.dom-ref-image {
    width: 300px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}
