.App {
    font-family: sans-serif;
    text-align: center;
}

.row {
    display: flex;
    gap: 20px;
}

.row + .row {
    margin-top: 20px;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid;
}

.square._active {
    border-color: green;
}
