{
    "extends": [
        "eslint:recommended",
        "prettier",
    ],
    "plugins": [
        "prettier"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": ["warn"],
        "max-len": ["error", { "code": 120 }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": 0,
        "no-duplicate-imports": "warn",
//        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-return-assign": [
            "error",
            "except-parens"
        ]
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true
    }
}