@import 'src/assets/styles/common';

.shop-cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 500px;
    background-color: white;
    border: 1px solid $border-color;

    &__list {
        margin-bottom: 20px;
        overflow: auto;
    }

    &__button {
        margin: auto 20px 20px;
    }
}
