@import "../../../../assets/styles/common.scss";

.collections-preview {
    &__title {
        margin-top: 40px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }

    &__item {
        margin: 0 20px 20px 0;
    }
}
