@import "../../../assets/styles/common.scss";

.shop-button {
    padding: 10px 20px;
    border: 2px solid lightskyblue;
    @include font-light-big;
    background-color: $primary-color;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #fff;
        color: $primary-color;
    }

    &._dark {
        background-color: $main-color;
        border-color: black;

        &:hover {
            background-color: #fff;
            color: $main-color;
        }
    }

    &._full-width {
        width: 100%;
    }
}
