.formInput {
    width: 350px;
    padding: 20px;
    background: #fff;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377), 3px 3px 7px rgba(94, 104, 121, 0.377);
}

.input {
    display: none;
}

.label {
    display: block;
    width: 45%;
    height: 45px;
    margin-left: 25%;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    background: #1172c2;
    border-radius: 5px;
    cursor: pointer;
}

.img {
    max-width: 100%;
}
