@import 'src/assets/styles/common.scss';

.monster-search {
    margin-bottom: 20px;

    &__input {
        height: 36px;
        font-size: 18px;
        line-height: 36px;
        border: none;
        border-bottom: 1px solid lightskyblue;
        outline: none;
    }
}
