.host {
    display: grid;
    grid-template-columns: 100px;
    gap: 10px;
    margin: 20px 0;

    div {
        height: 100px;
        scrollbar-gutter: stable;
    }
}

.overflowAuto {
    overflow: auto;
}

.overflowHidden {
    overflow: hidden;
}
