@import "./common/styles/common.scss";
@import "./common/styles/theme1.scss";
@import "./common/styles/theme2.scss";

.app {

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        padding: $padding-l;
        color: $main-color;
    }

}
