@import 'src/assets/styles/common.scss';

.search-bar {
    position: relative;

    &__input {
        min-width: 300px;
        font-size: 16px;
        line-height: 20px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
    }

    &__focus {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        transition: all 0.3s ease-out;
        content: '';
    }

    &__input:focus + &__focus {
        width: 100%;
        background-color: cornflowerblue;
    }
}
